<html>
<head>
	<meta charset="UTF-8">
	<title>Fake Search</title>
</head>
<body>
	<h1>Fake bing</h1>
	<form action="https://www.bing.com/search?" method="get">
  	Search with Bing: <input type="text" name="q"><br>
  	<input type="submit" value="Search">
  	</form>
</body>
</html>
